#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

#main-nav .navbar-brand {
    text-decoration: none;
    color: #1ac056;
}

#main-nav ul {
    position: absolute;
    top: 5px;
    right: 20px;
    margin: 0;
}

#main-nav ul li {
    display: inline-block;
    text-decoration: inherit;
}

#main-nav ul li a {
    text-decoration: none;
    color: #1ac056;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    top: 0;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 40%;
    right: 180px;
    transform: translate(-50%, -50%);
    color: white;
}

header #navigation-header {
    position: absolute;
    top: 50%;
    right: 350px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

header .btn {
    position: absolute;
    top: 65%;
    right: 550px;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

html {
    position: relative;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    padding: 0;
    color: #291f1a;
    font-weight: 300;
}
