#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

#main-nav .navbar-brand {
    text-decoration: none;
    color: #fff;
}

#main-nav ul {
    position: absolute;
    top: 5px;
    right: 20px;
    margin: 0;
}

#main-nav ul li {
    display: inline-block;
    text-decoration: inherit;
}

#main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

#main-nav ul li a:hover {
    color: aqua;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    top: 0;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 40%;
    right: 200px;
    transform: translate(-50%, -50%);
    color: white;
}

header #navigation-header {
    position: absolute;
    top: 45%;
    right: 380px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

header .btn {
    position: absolute;
    top: 60%;
    right: 550px;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background-color: aqua;
    padding: 10px;
    text-decoration: inherit;
    color: white;
    border-radius: 20%;
}

header .btn:hover {
    background-color: #fff;
    color: aqua;
    border: 1px solid aqua;
}

#services {
    position: relative;
}

#services #title-services {
    text-align: center;
}

#services #section-icons {
    position: relative;
    display: inline-block;
}

#services #section-icons .icons {
    display: inline-block;
    width: 33%;
    text-align: center;
}

#services #section-icons .icons .under-icons {
    position: relative;
    background-color: aqua;
    font-size: 3rem;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 170px;
}

#services #section-icons .icons .fas, #services #section-icons .icons .far {
    position: absolute;
    top: 18%;
    left: 10px;
    transform: translate(-50%, -50%), rotate(0deg);
    transition-duration: 1s;
}

#services #section-icons .icons .fas:hover, #services #section-icons .icons .far:hover {
    transform: rotate(360deg);
}

#services #section-icons .icons .section-paragraph {
    font-size: 1.5rem;
}

#services #section-icons .icons .section-paragraph1 {
    font-size: 1rem;
    padding: 10px;
}

#portfolio {
    position: relative;
    background-color: #f7f7f7;
}

#portfolio #title-portfolio {
    text-align: center;
}

#portfolio #container1, #portfolio #container2 {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#portfolio #container1 .box, #portfolio #container2 .box {
    display: inline-block;
    width: 30%;
}

#portfolio #container1 .box .image-portfolio, #portfolio #container2 .box .image-portfolio {
    height: 50vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#portfolio #container1 .box #image1, #portfolio #container2 .box #image1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio #container1 .box #image2, #portfolio #container2 .box #image2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#portfolio #container1 .box #image3, #portfolio #container2 .box #image3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio #container1 .box #image4, #portfolio #container2 .box #image4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio #container1 .box #image5, #portfolio #container2 .box #image5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio #container1 .box #image6, #portfolio #container2 .box #image6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

html {
    position: relative;
}

body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #291f1a;
    font-weight: 300;
}
