#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

#main-nav .navbar-brand {
    text-decoration: none;
    color: #fff;
}

#main-nav ul {
    position: absolute;
    top: 5px;
    right: 20px;
    margin: 0;
}

#main-nav ul li {
    display: inline-block;
    text-decoration: inherit;
}

#main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

#main-nav ul li a:hover {
    color: aqua;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    top: 0;
    background-position: center;
    background-size: cover;
    text-align: center;
}

header h1 {
    position: absolute;
    top: 20%;
    right: 180px;
    transform: translate(-50%, -50%);
    color: white;
}

header #navigation-header {
    position: absolute;
    top: 25%;
    right: 350px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

header .btn {
    position: absolute;
    top: 35%;
    right: 550px;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background-color: aqua;
    padding: 10px;
    text-decoration: inherit;
    color: white;
    border-radius: 20%;
}

header .btn:hover {
    background-color: #fff;
    color: aqua;
    border: 1px solid aqua;
}

#services {
    position: relative;
}

#services #title-services {
    text-align: center;
}

#services #section-icons {
    position: absolute;
    display: inline-block;
}

#services #section-icons .icons {
    display: inline-block;
    width: 33%;
    text-align: center;
}

#services #section-icons .icons .under-icons {
    position: relative;
    background-color: aqua;
    font-size: 3rem;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 170px;
}

#services #section-icons .icons .fas, #services #section-icons .icons .far {
    position: absolute;
    top: 18%;
    left: 10px;
    transform: translate(-50%, -50%), rotate(0deg);
    transition-duration: 1s;
}

#services #section-icons .icons .fas:hover, #services #section-icons .icons .far:hover {
    transform: rotate(360deg);
}

#services #section-icons .icons .section-paragraph {
    font-size: 1.5rem;
}

#services #section-icons .icons .section-paragraph1 {
    font-size: 1rem;
    padding: 10px;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    padding: 0;
    color: #291f1a;
    font-weight: 300;
}
