#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;

    
    
    .navbar-brand {
        text-decoration: none;
        color: #fff;
    }
 
    ul {
        position: absolute;
        top: 5px;
        right: 20px;
        margin: 0;


        li {
            display: inline-block;
            text-decoration: inherit;
            
            a {
                text-decoration: none;
            color: #fff;
            }
            a:hover {
                color: aqua;
            }
        }
        }
    }
