#portfolio {
    position: relative;
    background-color: #f7f7f7;

    #title-portfolio {
        text-align: center;
    }

    #container1,
    #container2 {
        display: inline-block;
        width: 100%;
        text-align: center;

        .box {
            display: inline-block;
            width: 30%;
            background-color: white;

            .image-portfolio {
                height: 50vh;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition-duration: 0.3s;

            }

            #image1 {
                background-image: url(../img/portfolio/chestnut_on_bracket.jpg);

            }
            #image2 {
                background-image: url(../img/portfolio/typing_on_laptop.jpg);
            }
            #image3 {
                background-image: url(../img/portfolio/child_with_blue_paint.jpg);
            }
            #image4 {
                background-image: url(../img/portfolio/chaotic_paint.jpg);
            }
            #image5 {
                background-image: url(../img/portfolio/house_with_blue_doors.jpg);
            }
            #image6 {
                background-image: url(../img/portfolio/box_of_cookies.jpg);
            }
            .inside-box {
                overflow: hidden;
                
            }
            .blue-mask {
                position: relative;
                background-color: rgba(14, 216, 214, 0);
                height: 50vh;
                transition-duration: 0.3s;
            }
            .blue-mask:hover {
                background-color: rgba(14, 216, 214, 0.5);
            }
            .image-portfolio:hover {
                transform: scale(1.5);
            }
            .plus {
                position: absolute;
                top: 15%;
                right: 100px;
                transform: translate(-50%, -50%);
                right: 180px;
                color: white;
                opacity: 0;
                transition-opacity: 1s;
                font-size: 5rem;
                transform: scale(1.5);
            }
            .plus:hover {
                opacity: 1; 
            }

        }
    }
}
