@import 'nav';
@import 'header';
@import 'services';
@import 'portfolio';
@import 'team';
@import 'contact';
@import 'footer';
html {
    position: relative;
}

body {
    position: relative;
//    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
//    padding: 0;
    color: #291f1a;
    font-weight: 300;
    
}